!!! 5
/
  %html{:manifest => "manifest.cache"}
%html
  %head
    %meta{:charset => 'utf-8'}
    %link#icon{:rel => "icon", :href => "", :size => "48x48"}

    :javascript
      (function () {
        var hash = window.location.hash,
            screen_name, icon, link;

        if (hash !== '' && hash.indexOf('/') === -1) {
            screen_name = hash.substr(1);
            icon = localStorage[screen_name + "/profile_image_url"];
            if (icon != null) {
                link = document.getElementById("icon");
                link.setAttribute("href", icon);
            }
        }
      })();

    -# setting for iOS
    %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
    %meta{:name => 'apple-mobile-web-app-status-bar-style', :content => 'black'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale = 1, user-scalable = no'}
    %link{:rel => "apple-touch-icon-precomposed", :href => ""}

    %title Twitter Web App

    %link{:rel => "stylesheet", :href => "static/css/reset-min.css"}
    %link{:rel => "stylesheet", :href => "screen.css"}

    -# template for search screen
    %script{:type => "text/template", :id => "search-template"}
      .search
        %input{:placeholder => "keyword", :type => "search"}

    %script{:type => "text/template", :id => "tweet-image-template"}
      %style#profile-image-style
        :plain
          #screen .tweet .profile-image {
            background-image: url("<%= src %>");
          }

    -# template for tweet list
    %script{:type => "text/template", :id => "tweet-template"}
      :plain
        <% if (json.show_link) { %> 
      %a{:href => "javascript:window.open(window.location);"}
        %img{:src => "http://a0.twimg.com/a/1326412195/t1/img/twitter_logo_top_bar.png"}
      :plain
        <% } %> 
      .tweets      
        :plain
          <% _.each(json, function(tweet) { %> 
        .tweet
          .profile-image
          .contents
            .user-name
              %span.screen-name
                :plain
                  <%= tweet.user.screen_name %>
              %span.name
                :plain
                  <%= tweet.user.name %>
            .text
              :plain
                <%= tweet.text %>
            .created-at
              :plain
                <%= tweet.created_at %>
        :plain
          <% }); %> 

    -# template for user list
    %script{:type => "text/template", :id => "users-template"}
      .users
        :plain
          <% _.each(json, function(user) { %> 
        .user
          .profile-image
            %image{:src => "<%= user.profile_image_url %>"} 
          .contents
            .user-name
              %span.screen-name
                :plain
                  <%= user.screen_name %>
              %span.name
                :plain
                  <%= user.name %>
            .text
              :plain
                <%= user.description %>
            .created-at
              :plain
                <%= user.status ? user.status.created_at : "" %>
        :plain
          <% }); %> 

  %body
    #screen

    %script{:src => "static/js/jquery-1.7.1.min.js"}
    %script{:src => "static/js/underscore-min.js"}
    %script{:src => "static/js/require-min.js"}
    %script{:src => "twitter_api.js"}
    %script{:src => "main.js"}

